.DS_Store
node_modules/
dist/app/
dist/*/report.html
npm-debug.log.*
*.log

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
