
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: $line-height;
    color: $colour-font;
    background-color: $colour-background;
}

button, 
input, 
textarea,
select,
optgroup {
    color: inherit;
    font: inherit;
    margin: 0;
}