

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="password"],
input[type="search"] {
    display: inline-block;
    width: 250px;
    height: rem-size(6);
    padding: 0 rem-size(1.5);
    background-color: $colour-background;
    border: 1px solid $colour-border;
    border-radius: 2px;
    outline: none;
}