
@import "../abstract/_variables.scss";

input {

    &:not([type="checkbox"]),
    &:not([type="radio"]),
    &:not([type="submit"]),
    &:not([type="button"]),
    &:not([type="file"]),
    &:not([type="range"]) {
        display: inline-block;
        font-family: inherit;
        width: 250px;
        height: 40px;
        padding: 0 0.5em;
        background-color: $colour-background;
        border: 1px solid $colour-border;
        border-radius: 2px;
    }
}