
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.grid {
    margin-left: rem-size(-2);
    margin-right: rem-size(-2);
}

.grid-cell {
    padding-left: rem-size(2);
    padding-right: rem-size(2);
}