
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.grid-row {
    margin-left: rem-size(-1);
    margin-right: rem-size(-1);

    & + .grid-row {
        margin-top: rem-size(2);
    }
}

.grid-cell {
    padding-left: rem-size();
    padding-right: rem-size();
}