
@import "../abstract/_variables.scss";
@import "../abstract/_functions.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.75em 0;
    font-weight: 600;
    line-height: $line-height;
    color: $font-colour;
}

h1 {
    font-size: round($font-size * pow($typography-ratio, 4));
}

h2 {
    font-size: round($font-size * pow($typography-ratio, 3));
}

h3 {
    font-size: round($font-size * pow($typography-ratio, 2));
}

h4 {
    font-size: round($font-size * $typography-ratio);
}

h5 {
    font-size: $font-size;
}

h6 {
    font-size: round($font-size * (1 / $typography-ratio));
}

p {
    margin: 0.75em 0;
}

small {
    font-size: round($font-size * (1 / $typography-ratio));
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}