
$base-point-size: 8px;

$typography-ratio: 1.5;
$font-size: 16px;
$line-height: 1.5em;

$colour-font: #32394F;
$colour-font-negative: #FFFFFF;
$colour-background: #FFFFFF;
$colour-border: #DDDDEE;
$colour-primary: #2196F3;
$colour-accents: (
    blue: #2196F3,
    green: #00B378,
    red: #F44336,
    yellow: #FFC107,
    orange: #FF9800,
    purple: #673AB7
);

$colour-variation: 10%;

$border-radius: 2px;

$text-inputs: (
    "text",
    "date",
    "time",
    "datetime",
    "email",
    "search",
    "password"
);

$alice-blue: #FBFCFD;
$vulcan: #363945;
$hawkes-blue: #D8E3F3;
$link-water: #CDCED1;
$denim: #1C73D4;
$manatee: #9499A5;