
$base-point-size: 8px;

$typography-ratio: 1.333;
$font-size: 16px;
$line-height: 1.5em;

$colour-font: #32394F;
$colour-font-negative: #FFFFFF;
$colour-background: #FFFFFF;
$colour-background-medium: #FAFAFC;
$colour-border: #DDDDEE;
$colour-border-light: #EEEEEE;

$colour-primary: #2196F3;
$colour-accents: (
    blue: #2196F3,
    green: #00B378,
    red: #F44336,
    yellow: #FFC107,
    orange: #FF9800,
    purple: #673AB7
);

$colour-variation: 10%;

$border-radius: 2px;